<% layout('layouts/boilerplate') %>
<div class="row">
    <div id="map" class="col-12" style="height: 40vh;"></div>
</div>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <% for (let campground of campgrounds) { %>
                    <div class="col-lg-3 col-md-4 col-sm-6 text-center p-3">
                        <div class="card module">
                            <img src="<%= campground.images.length? campground.images[0].path.replace('/upload', '/upload/c_fill,h_200,w_365') : '' %>"
                                class="img-fluid card-img-top rounded" alt="campground">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= campground.title %>
                                </h5>
                                <p class="card-text text-success fw-bold">$<%= campground.price %>
                                </p>
                                <p class="card-text ">
                                    <%= campground.location %>
                                </p>
                                <p class="card-text">Author: <span class="text-primary">
                                        <%= campground.author.username %>
                                    </span></p>
                                <a href="/campgrounds/<%= campground._id %>" class="block btn btn-primary">View details</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <script>
        const mapBoxToken = '<%- process.env.MAPBOX_TOKEN %>';
        const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
    </script>
    <script src="/javascripts/clusterMap.js"></script>